[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pipenv = "*"
pylint = "*"
flake8 = "*"
mock = "*"
pytest "*"
yapf = "*"
tox = "*"

[packages]
py_startnew = {editable = true,file = "file:///Volumes/Data/skeptycal/Documents/utilities/3_design/py_startnew"}

[requires]
python_version = "3.7"
